doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
  title Smart Roll Call System
  meta(name='description' content='')
  // Favicon
  link(rel='stylesheet' href='/loaders.css')
  link(rel='icon' type='image/x-icon' href='idea.png')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap' rel='stylesheet')
  // cdn for sweet alert
  script(src='\
  https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js\
  ')
  script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
  link(href='\
  https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css\
  ' rel='stylesheet')
  // Icons. Uncomment required icon fonts
  // <link rel="stylesheet" href="boxicons.css" />
  // Core CSS
  link.template-customizer-core-css(rel='stylesheet' href='core.css')
  link.template-customizer-theme-css(rel='stylesheet' href='theme-default.css')
#loader
  .loader-inner
// Content
.container-xxl
  .authentication-wrapper.authentication-basic.container-p-y
    .authentication-inner
      // signin
      .card.signincard
        .card-body
          // Logo
          .app-brand.justify-content-center
            g#Triangle(transform='translate(19.000000, 11.000000) rotate(-300.000000) translate(-19.000000, -11.000000) ')
              use(fill='#696cff' xlink:href='#path-5')
              use(fill-opacity='0.2' fill='#FFFFFF' xlink:href='#path-5')
            span.app-brand-text.demo.fw-bolder
              img(src='idea.png' width='70' height='70' alt='our logo')
          // /Login page
          h4.text-center Welcome to University Smart Roll Call!
          form#formAuthentication.mb-3(method='POST')
            .mb-3
              label.form-label(for='email') RegNo/CourseCode
              input#regno-login.form-control(type='text' name='regno' value='' placeholder='' autofocus='')
            .mb-3.form-password-toggle
              .d-flex.justify-content-between
                label.form-label(for='password') Password
              .input-group.input-group-merge
                input#password.form-control(type='text' value='' name='password')
                span.input-group-text.cursor-pointer
                  i.bx.bx-hide
            a(href='#')
              small Forgot Password?
        .mb-3
          button.btn.btn-dark.d-grid.w-100(id="login" type='submit' name='submit') Login
        p.text-center.signupbtn
          span Activate account here &#x27A1;
          // <a href="register.html">
          span.btn(style='color:#696cff;') Activate account
          // </a>
    // /Register
    // Register Card
    .card.signupcard(style='display:none;')
      .card-body
        // Logo
        .app-brand.justify-content-center
          a.app-brand-link.gap-2(href='index.html')
            span.app-brand-text.demo.text-body.fw-bolder
              img(src='idea.png' width='70' height='70' alt='our logo')
        // /Logo
        h3.text-center Welcome to University Smart Roll Call!
        p.text-center Activate your Account
        form#formAuthentication.mb-3(method='POST')
          .mb-3
            label.form-label(for='username') REGNo/COURSECODE
            input#regno-activate.form-control(type='text' name='regno-activate' value='' autofocus='' required='')
          .mb-3
            label.form-label(for='email') Email
            input.form-control(id="email-activate" type='email' name='email' value='' required='')
          // Referal code input
          input#userreferalnum.form-control(type='text' name='userRef' value='' hidden='')
          .mb-3.form-password-toggle
            label.form-label(for='password') Password
            .input-group.input-group-merge
              input#password1.form-control(type='text' name='password' value='' aria-describedby='password' required='')
            .mb-3
              label.form-label(for='referal') CONFIRM PASSWORD
              .input-group.input-group-merge
                input#password2.form-control(type='text' name='referalCode' value='' required='')
                span.input-group-text.cursor-pointer
                  i.bx.bx-hide
            button.btn.btn-dark.signupbtn.d-grid.w-100(id="activate" type='submit' name='signup') Activate
        p.text-center.signinbtn
          span Already have an account?
          a(href='index.html')
            span.btn.text-primary Login
    // Register Card
// / Content
script(src='/logic.js')
//
